<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wesley's Loan Scenario Tool</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
</head>
<body class="min-vh-100 bg-light-gray pa4 avenir">
<main class="">
    <div class="flex flex-column items-center justify-center mw6 center">
        {% block content %}
        {% endblock %}
    </div>
</main>
</body>
</html>
